#block7{
    color: rgb(255, 255, 255);
    background-color: rgb(57, 2, 209);
    width: 120px;
    height: 120px;
    text-align: center;
}

#block8{
        color: rgb(7, 0, 110);
            background-color: rgb(255, 255, 255);
            width: 120px;
            height: 120px;
            text-align: center;
}

.div2{
    color: rgb(155, 201, 255);
    background-color: rgb(0, 95, 29);
    width: 120px;
    height: 120px;
    text-align: center;
}